.home_section {
  padding-top: 1.5rem;
}

.home_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.home_container img {
  max-width: 20rem;
}

.home_data {
  text-align: center;
}

.home_data h1 {
  color: var(--title-color);

  font-size: var(--h1-font-size);
  line-height: 1.4;
  font-weight: var(--font-semi-bold);
}

.home_data p {
  color: var(--text-color);
  font-size: var(--small-font-size);
  margin: 0.75rem 0 2.5rem;
}
